#topnav
{
	padding:5px 0px 5px;
	font-size:14px;
	line-height:23px;
	text-align:right;
}
#topnav a.login
{
	background:#444;
	padding:4px 6px 6px;
	text-decoration:none;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*background:url("../images/login-nav-bg-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
#topnav a.login:hover
{
	background:#777;
	*background:transparent url("../images/login-nav-bg-hover-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
#topnav a.login, #topnav a.login:hover
{
	*background-position:0 3px!important;
}

a.login
{
	position:relative;
	margin-left:3px;
}
a.login span
{
	background-image:url("../images/toggle_down_light.png");
	background-repeat:no-repeat;
	background-position:100% 50%;
	padding:4px 16px 6px 0;
	font-size: 13px;
}

#topnav a.menu-open
{
	background:#777!important;
	color:#fff!important;
	outline:none;
}

a.login.menu-open span
{
	background-image:url("../images/toggle_up_dark.png");
	color:#DDD;
}

#topnav a.register
{
	background:#444;
	padding:4px 6px 6px;
	text-decoration:none;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*padding:4px 12px 6px;
}
#topnav a.register:hover
{
	background:#777;
	*background:transparent url("../images/login-nav-bg-hover-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
#topnav a.register, #topnav a.register:hover
{
	*background-position:0 3px!important;
}

a.register
{
	position:relative;
	margin-left:3px;
	font-size: 13px;
}
a.register span
{
	padding:4px 10px 6px 10px;
}














#login_menu {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:none;
    background-color:#444;
    position:absolute;
    width:210px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 34px; 
    right: 10px; 
    margin-top:5px;
    margin-right: 0px;
    color:#fff;
    font-size:11px;
}

#login_menu input[type=text], #login_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background: #fff;
    border:1px solid #333;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
#login_menu p {
    margin:0;
}
#login_menu a {
    color:#fff;
}
#login_menu label {
    font-weight:normal;
}
#login_menu p.remember {
    padding:10px 0;
}
#login_menu p.forgot, #login_menu p.complete {
    clear:both;
    margin:5px 0;
}
#login_menu p a {
    color:#fff!important;
}
#login_submit {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background:#222;
    border:1px solid #fff;
    color:#fff;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
#login_submit::-moz-focus-inner {
padding:0;
border:0;
}
#login_submit:hover, #login_submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}
